
/* 기본 스타일링 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  min-width: 1250px;
  margin: 0px auto;
  font-weight: 600;
  text-align: center; 
}

/* 네비게이션 바 스타일링 */
.custom-navbar {
  background-color: #ffffff;
  height: 70px; /* 네비게이션 바의 높이를 조절합니다. */
  border-bottom: 3px solid  #b30909; /* 아래쪽 테두리 초기값 */
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 18px; /* 텍스트 크기 조절 */
  text-align: center; 
}

/* 이미지 크기 조절 */
.custom-navbar img {
  width: 30px; /* 이미지 너비 조절 */
  height: 30px; /* 이미지 높이 조절 */
  
}

/* 바디 스타일링 */
.contain {
  max-width: 1200px; /* 최대 너비를 조절 */
  margin: 0 auto; /* 가운데 정렬 */
}

/* 관람 스타일링 */

.content-section {
  display: flex;
  justify-content: center;
  gap: 30px; /* 이미지 사이의 간격 */
}

.snip1273 {
  position: relative;
  min-width: 200px; /* 최소 너비를 조정 */
  max-width: 200px; /* 최대 너비를 조정 */
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  text-shadow: 3px 3px 3px #000000; /* 그림자 추가 */

}

.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
  display: flex; /* 텍스트 가운데 정렬을 위해 Flexbox 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3 {
  line-height: 1.5em;
  /* 기존 스타일 유지 */
  text-align: center; /* 텍스트를 가운데 정렬 */

}


.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.snip1273 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: #680404;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;

}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
  border: 4px solid #ff0000;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
  background-color:#00000052 /* 배경 색상으로 변경 */
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}


/*이벤트*/
.content {
  margin-top: 50px;
}

.event-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/* 이벤트 박스 스타일링 */

.event-items1 img{
  width: 400px;
  height: 100px;
}
.event-items2{
  width: 700px;
  height: 50px;
  background-color: bisque;
  
}
.event-items3{
  width: 700px;
  height: 50px;
  background-color: rgba(230, 209, 24, 0.466);
  margin-top: 29px;
}


/* 추천 박스 */
.section-box {
  margin-top: 80px;
  display: flex;

}

/* 추천 박스 이미지*/
.section-box1 img {
  background-color: #e9bbbbcb;
  width: 600px;
  height: 400px;
}

/* 비관람 박스 */
/* 슬라이드쇼 컨테이너의 스타일 */
#carouselExampleIndicators {

  margin-top: 80px;
  margin-left: 100px;
}

/* 이미지 스타일 */
#carouselExampleIndicators .carousel-inner img {
  width: 300px; /* 부모 요소의 너비에 맞게 이미지 크기 조정 */
  height: 300px; /* 가로세로 비율 유지 */
}

/* 게시판, 광고 박스 */
.section-boxx{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* 게시판 박스 */
.section-box3 {
  background-color: #c0c0c0;
  width: 600px;
  height: 300px;

}

/* 광고 박스 */
.section-box4 {
  background-color: #a0a0a0;
  width: 500px;
  height: 300px;
  margin-left: 100px;
}

/*마이페이지 카드*/
#mypage-card {
  display: none; /* 초기에는 숨겨진 상태*/
  position: absolute; /* 위치를 절대 위치로 설정 */
  top: 100%; /* 화면 아래에 위치 */
  right: 30px;
  width: 500px; 
  height: 500px;
  background-color: rgb(255, 255, 255); 
  border: 2px solid #858484; 
  z-index: 999; /* 다른 요소 위에 나타나도록 설정 */
  transition: top 0.3s; /*애니메이션 효과 */
}
/* 푸터 스타일 */

/*
.custom-footer {
  position: relative;
  bottom: 0;
  left: 0;	
  background-color: #b30909;
  color: white; 
  padding: 100px 0;

} */

.custom-footer p {
  margin: 0; /* 기본 마진 제거 */
}

/* 푸터 텍스트 스타일 */
.custom-footer p {
  font-size: 14px;
}







* {
  margin:0;   /* 마진 리셋 */
  padding:0;   /* 패딩 리셋 */
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
  text-align: center;
}
a {
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
  color : black;
}
ul {
  list-style: none;
}

#container {
  padding : 0;
  margin:0 auto;  /* 화면 중앙에 배치 */
  width:1400px;    /* 너비 */
  height : auto;
}





/* 푸터 스타일 */
.custom-footer {
  position: absolute;
  top : 2000px;
  left : 0px;
  background-color: #b30909;
  color: white; 
  padding: 100px 0; /* 위아래 패딩 설정 */
  clear: both;
  width : 100%;
}

.custom-footer p {
  margin: 0; /* 기본 마진 제거 */
}

/* 푸터 텍스트 스타일 */
.custom-footer p {
  font-size: 14px;
}

/* 히든박스 */

#movie_bar{
  margin : auto;
  text-align: left;
  background-color: rgb(250,230,255);
  width : 760px;
  height : 1500px;
  padding : 15px;
  position : absolute;
  top : 100px;
  left : 49.8%;
  z-index : 10;
  transform: translateX(-50%); /* 초기 위치 설정 */
  transition: transform 0.5s;
}


#poster {
  float : left;
  width : 330px;
  height : 626px;
  background-color: brown;
  margin-left: 20px;
}


#movie_right{
  padding-left : 15px;
  width : 360px;
  float : right;
}


#movie_name{
  width : 325px;
  height : 50px;
  background-color: blue;
  color : white;
  padding : 15px;
}


#movie_score{
  width : 325px;
  height : 113px;
  background-color: beige;
  padding : 15px;
  margin-top : 10px;
}


#movie_synop{
  width : 325px;
  height : 220px;
  background-color: skyblue;
  padding : 15px;
  margin-top : 10px;
}


#movie_line{
  width : 325px;
  height : 150px;
  background-color: white;
  padding : 15px;
  margin-top : 10px;

}


#more_line{
  border : 2px solid silver;
  text-align: left;
  cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
  width : 55px;
  height : 12px;
  padding : 3px;
}


#hidden_bar{
  background-color: rgb(240,240,240);
  width : 610px;
  height : 1500px;
  padding : 30px;
  position : absolute;
  top : 100px;
  left : 54.5%;
  z-index : 0;
  border : 1px solid black;
  opacity: 0;
  text-align: center;
}


.movie_sentence{
  width : 480px;
  height : 30px;
}

.movie_submit{
  height : 30px;
  width : 50px;
  border : 2px silver solid;
  cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
}



.review_box{
  border : 1px solid;
  height : 100px;
  text-align: left;
  padding : 5px;
  line-height : 15px;
}

#exit{
  border : 2px solid rgb(30,30,30);
  float : right;
  width : 30px;
  cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
  font-size : 20px;
}


#star_rating span {
  cursor: pointer; /* 포인터 커서를 표시하여 별평을 클릭할 수 있도록 합니다. */
  font-size: 24px; /* 별평의 크기 조정 */
}

#star_rating {
  display: inline-block;
  position : absolute; 
  left : 230px; /*235*/
  z-index:4;
}

#selected_rating {
  display: inline-block; /* 선택된 별평을 가로로 표시하도록 설정합니다. */
  font-size: 24px; /* 선택된 별평의 크기 조정 */
  position : absolute;
  top : 236px;
  left : 230px; /*230*/
  letter-spacing: 4px; 
  z-index:3;
}


#graph_box{
  background-color: white;
  border : 1px solid;
  border-radius: 10px;
  width : 730px;
  height: 180px;
  top : 680px;
  left : 0px;
  position: relative;
}

#left_graph{
  padding : 20px;
  border : silver solid 1px;
  border-radius: 10px;
  height : 120px;
  width : 300px;
}
#right_graph{
  padding : 20px;
  border : silver solid 1px;
  border-radius: 10px;
  height : 120px;
  width : 400px;
}



#store_box{
  padding : 20px;
  background-color: darkkhaki;
  border : 1px solid;
  border-radius: 10px;
  width : 730px;
  height: 150px;
  top : 800px;
  left : 0px;
  position: relative;
}



/*컨텐츠 페이지 */

#contents_bar{
  width : 1000px;
  height : 2500px;
  background-color: beige;
  margin : auto;
}

#location_box{
  margin : auto;
  margin-top : 100px;
  width : 850px;
  height : 80px;
  border : 1px solid navy;
  border-radius: 10px;
  font-size : 25px;
  font-weight: bold;
  padding : 23px;
  padding-left : 50px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
}

#location_input {
  width : 350px;
  height : 38px;
  padding-left : 30px;
  font-size : 18px;
  border : 3px rgb(70,70,70) solid;
}

#location_submit{
  width : 70px;
  height : 60xp;
  padding : 3px;
  font-size : 18px;
  font-weight: bold;
  border : 2px solid;
  border-radius: 7px;
  cursor: pointer; 
}

#date_bar{
  width : 1000px;
  height : 200px;
  background-color: lightblue;
  margin : 50px 0px 50px 0px;
  border-top : double 4px whitesmoke;
  border-bottom : double 4px whitesmoke;
  padding-top : 20px;
  padding-left : 30px;
  overflow: hidden; /* 넘치는 부분 숨김 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  transition: transform 0.3s ease; /* 슬라이딩 효과 애니메이션 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.date_box{
  width : 400px;
  height : 150px;
  background-color: white;
  display : inline;
  margin-right : 15px;
  border-radius: 10px;
  padding : 15px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s ease; /* 슬라이딩 효과 애니메이션 */
  cursor: pointer;  /*손가락커서되는 속성*/
}


.date_box.clicked{
  height : 160px;
  border : 5px solid rgb(50,50,150);
}


.date_box_container {
  display: flex;
  transition: transform 0.3s ease; /* 슬라이딩 효과 애니메이션 */
}


/* 화살표 버튼 스타일 */
#prev_button, #next_button {
  position: absolute; 
  top: 94%; 
  transform: translateY(-50%); /* 수직 정렬을 위해 사용 */
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100; /* 다른 요소 위에 표시되도록 설정 */
  border-radius: 50%;
  
  color : rgb(130,160,205);
  width : 70px;
  height: 70px;
  text-align: center;
  line-height: 0px; /* 텍스트 수직 가운데 정렬 */
  margin : auto;
  font-size : 40px;
  padding : 0px;
  opacity: 0.7;
}

#prev_button {
  left: 470px;
}

#next_button {
  right: 470px;
}



#contents_selection_box{
  margin : auto;
  text-align: center;
  cursor: pointer;  /*손가락커서되는 속성*/
}


.contents_selection{
  display : inline-block;
  font-size : 19px;
  border : 10px black;
  padding : 0px;
  background-color: rgb(50,50,150);
  width : 130px;
  height : 50px;
  margin : 0px;
  color : white;
  font-weight: bold;
  border-radius: 10px 10px 0 0 ;
  letter-spacing: 15px;
  padding-left : 15px;
  padding-top : 15px;
}


#contents_list_box{
  background-color: #0CC1F0;
  height: 850px;
  width : 900px;
  margin : auto;
  padding-top : 70px;
  padding-left : 20px;
  overflow-y: scroll; /* 세로 스크롤바만 표시합니다 */
  overflow-x: hidden; /* 가로 스크롤바는 숨깁니다 */
  border : 1px solid silver;
}


.contents_name{
  background-color: azure;
  width : 200px;
  height : 40px;
  text-align: center;
  letter-spacing: 18px;
  font-size : 18px;
  font-weight: bold;
  padding : 7px;
  padding-left :20px;
  border-radius: 10px 10px 0 0;
}


.contents_box{
  width : 840px;
  height : auto;
  background-color: antiquewhite;
  margin-bottom : 50px;
  padding: 40px;
  display: flex; /* Flexbox 레이아웃을 사용합니다 */
  flex-wrap: wrap; /* 요소가 넘칠 때 줄바꿈합니다 */
  justify-content: space-between; /* 각 요소를 왼쪽, 가운데, 오른쪽에 배치합니다 */
  border-radius: 0 3px 3px 3px;
}


.single_contents{
  display : inline-block;
  width : 202px;
  height : 500px;
  background-color: yellow;
  border : 2px solid silver;
  border-radius: 5px;
  margin-bottom : 50px;
}

.single_contents_poster{
  width : 198px;
  height : 420px;
  background-color: white;
}

.single_contents_info{
  width : 199px;
  height : 75px;
  background-color: rgb(51, 76, 116);
  text-align: center;
  color : white;
  margin-top : 1px;
  padding : 5px;
}



/* 비관람컨텐츠*/


.playground{
  display : flex;
  padding : 30px;
  justify-content: space-between;
  margin-top : 50px;
  margin-bottom : 50px;
}


.playground_contents{
  display : row;
  width : 280px;
  height : 180px;
  background-color: rgb(100,50,50);
  border-radius: 8px;
  padding : 11px;
  color : white;
  font-size : 14px;
  font-weight: bold;
}

.playground_contents img{
  margin-bottom : 8px;
  border : 1px solid rgb(50,50,50);
}




#playground_box{
  border : 1px solid white;
  border-radius: 2px;
  color : white;
  float : right;
  font-size : 11px;
  padding : 2px;
}


#location_relative{
  width :950px;
  height: 200px;
  background-color: rgb(50,100,50);
  border-radius: 10px;
  margin : auto;
  margin-top : 100px;
}